/* Reset */
* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

/* Generics */

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.bkgred {
    background-color: red;
}

.bkggreen {
    background-color: green;
}

.bkgyellow {
    background-color: yellow;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

h1 {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 70%;
    text-align: center;
    margin-top: 50px;
    translate: -50%;
    font-weight: bold;
}

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.full-page {
    height: 100vh;
}

/* Nav */

.side-menu {
    position: fixed;
    right: 50px;
    top: 30px;
}

.side-menu ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.side-menu a {
    display: inline-block;
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 5px 0;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.side-menu a:hover {
    scale: 1.2;
}